{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Valeria Zuleta </title>
    <link rel="stylesheet" href="{% static 'ccs/stilo.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

    <div class="banderas">
        <a href="{% url 'main' %}"><img src="{% static 'imagenes/bandera.png' %}" alt="valeria"></a>
        <a href="{% url 'mainIngles' %}"><img src="{% static 'imagenes/reino-unido.png' %}" alt="valeria"></a>
    </div>
<div class="container">
    <div class="profile-info">
        <h1>Bienvenido a mi Portafolio</h1>
        <p>¡Hola! Mi nombre es  valeria zuleta y este es mi portafolio creado con Django.</p>
        <p>Explora mis proyectos y ponte en contacto conmigo si estás interesado en trabajar juntos.</p>
    </div>
    <div class="profile-picture">
        <img src="{% static 'imagenes/avatar.jpeg' %}" alt="valeria">
    </div>

</div>

    <nav>
        <ul>
            <li><a href="{% url 'portafolio' %}">Portafolio</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
           
        </ul>
        
    </nav>
    
</body>
</html>



